.menu {
    /* background: #008080; */
    background: #104046;
    padding: 15px 0;
}
.menuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menuWrapper ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
}

.logo h4 {
    color: rgb(251, 251, 247);
    text-transform: capitalize;
}

.link {
    outline: none;
    border: none;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 20px;
}
.activeLink,
.link:hover {
    background: #008080;
    color: #fff;
}


