


/* .animeFlex{
    display:flex;
    flex: nowrap;
    display:inline-block;
} */

 .anime-card {
    /* flex: 1 1 33.333%;
    max-width: 33.333%; */
    float:left;
    max-width: 50%;
    padding: 16px 8px;
}
.anime-card a {
text-decoration: none;
}
.anime-card a figure {
/* display: block;
margin-bottom: 16px; */
}
.anime-card a figure img {
/* display: block; */
/* width: 100%; */
width: 460px;
height: 350px;
object-fit: cover;
border-radius: 16px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

transition: 0.4s;
}
.anime-card h3 {
color: #313131;
}
.anime-card a h3:hover figure img {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);

}
.badge{
    display: block;

}