.home-data {
    display: flex;
    flex-flow: row wrap;
    margin-top: 32px;
    margin: 32px -8px 0px;
    overflow: hidden;
}
.anime-card-area{
    flex:1 1 25%;
    padding: 16px 8px;
}
.anime-card-area a h3{
  font-size: 22px;
  display: inline-block;
}
.anime-card-area a{
     text-decoration: none;
     color: #000;
}