
 main .main-head input {
    appearance: none;
    background: none;
    outline: none;
    border: 2px solid black;
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 50px;
    background-color: rgb(153, 151, 151);
    transition: 0.4s;
}
main .main-head input::placeholder {
    color: rgb(7, 7, 7);
    text-align: center;
}

main .main-head input:focus:valid {
    background-color: #1d5036;
    color: #FFF;
}

 .anime-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 32px;
        margin: 25px  0px;
    }
